
body {
  background: #333;
  text-align: center;
  margin-top: 10%;
}

#videoCanvas {
  /* Always stretch the canvas to 640x480, regardless of its
  internal size. */
  width: 640px;
  height: 480px;
}
.allButtons {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.activeButton{
  background-color: black;
}
